<h5>{{model.name}}</h5>
<p class="text-muted"> 
	<span> Source code: <a {{bind-attr href=model.source}} target='_blank' > {{model.source}} </a></span> <br>
	<span> Initial Release: {{model.initialRelease}}</span> <br>
	<span>Liscence: {{model.liscence}}</span> <br>
</p>
<p>{{model.description}}</p> <span class="text-muted">(Extracted from Wikipedia)</span>